# This is a basic workflow to help you get started with Actions

name: Create playlist

# Controls when the workflow will run
on:
  schedule:
  - cron: "0 7 * * 0"
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  update:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: write
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: "Generate playlist"
        run: |
          tag="$(curl -sSL "https://github.com/InventivetalentDev/minecraft-assets/tags" | grep -o1Pm1 "\/InventivetalentDev\/minecraft-assets\/archive\/refs\/tags\/\\K(.*?)(?=\.zip)")"
          curl -L -o "assets.zip" "https://github.com/InventivetalentDev/minecraft-assets/archive/refs/tags/$tag.zip"
          unzip assets.zip > /dev/null
          cd "minecraft-assets-$tag"
          echo "#EXTM3U" > playlist.m3u8
          find . -type f -name "*.ogg" | grep -E "(records|music)" >> playlist.m3u8
          sed -ie "s/\.\//https:\/\/raw.githubusercontent.com\/InventivetalentDev\/minecraft-assets\/$tag\//g" playlist.m3u8
          mv playlist.m3u8 ..; cd ..
          rm -rf assets.zip "minecraft-assets-$tag"
      - name: Push
        run: |
          git config --global user.email "somebudyelse-ka@users.noreply.github.com"
          git config --global user.name "somebudyelse-ka"
          git add "playlist.m3u8"
          git commit -am "Update playlist"
          git push
